<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo">{{{theTitle}}}

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon fa-home" href="/"><span>Home</span></a></li>
									<li><a class="icon fa-user" href="/about"><span>About Me</span></a></li>
									<li>
										<a href="/portfolio" class="icon fa-file-code-o"><span>Portfolio</span></a>
									</li>
									<!-- <li><a class="icon fa-cog" href="left-sidebar.html"><span>Left Sidebar</span></a></li> -->
									<li><a class="icon fa-book" href="/blog"><span>Blog</span></a></li>
									<!-- <li><a class="icon fa-sitemap" href="no-sidebar.html"><span>No Sidebar</span></a></li> -->
								</ul>
							</nav>

					</div>
				</div>
