

<!-- Banner -->

<!-- Main -->
  <div id="main-wrapper">
    <div id="main" class="container">

        <!-- Post -->
          <article class="box post">
            <span class="image featured"><img src="images/banner.png" alt="" /></span>
            <p>I'm a 34 year old who has completed a couple stints in the corporate world and
            startup world. I've held positions in Business Development, Sales, Project Management, and
            Product. I'm currently working on adding some more technical skills to my portfolio by building
            full stack webapps in Javascript, Node, Rails, and React. You can check out my <a href="/portfolio">portfolio</a>
            for some examples. When I'm not working I like to explore the city with my wife or find new places to hike.</p>
            <!-- Features -->
      				<div id="features-wrapper">
      					<section id="features" class="container">

      						<div class="row">

      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank'class="image featured"><img src="images2/aaron-burden-154782.jpg" alt="" /></a>
      										<header>
      											<h3>Where I'm From</h3>
      										</header>
                          <p>Bethany and I are both from Charleston, WV and attended college in the Southeast. I built an
                          allegiance to <a href="http://georgiadogs.com/">college football</a> & she acquired a taste for <a href="http://goheels.com/">college basketball</a>.
                          We've collectively lived in 9 states and 10 different cities but are currently enjoying living in the same
                          city for first time since 2002 :)</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank' class="image featured"><img src="images2/alexander-mils-instagram-com-alexandermils-321812.jpg" alt="" /></a>
      										<header>
      											<h3>What I like to Do</h3>
      										</header>
                          <p>I'm an amateur chef in-training. Over the last 18 months my wife and I have been experimenting with the <a href="https://whole30.com/whole30-program-rules/">Whole30</a> diet
                          and it's afforded me the opportunity to really test out my cooking abilities. I've definitely cracked a few eggs, har har,
                          but have found that I really love the process and experimentation. I've found that after a long day of data structures
                          and div tags that cooking dinner from scratch can be rather cathartic. We also enjoy our membership to the Cal Sciences Center and
                          I frequent a fair number of developer meetups like <a href="https://www.meetup.com/sfhtml5">SFHTML5</a> and <a href="https://www.meetup.com/SF-Code-Coffee">Code & Coffee</a>.</p>
      									</section>

      							</div>
                    <div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank' class="image featured"><img src="images2/markus-spiske-109588.jpg" alt="" /></a>
      										<header>
      											<h3>What I'm Passionate About</h3>
      										</header>
                          <p>A few things that are near and dear to my heart are in the realm of healthcare, education,
                          and civil service projects. A couple of the side projects that I'm working on are focused on
                          aiding the healthcare work force & streamling government processing. I'm also a big supporter of
                          e-learning tools and removing barriers to distance learning. So if you have questions or need help
                          I'm always open to chatting about projects or offering any guidance I can.</p>
      									</section>

      							</div>
      						</div>
      						<!-- <ul class="actions">
      							<li><a href="#" class="button icon fa-file">Tell Me More</a></li>
      						</ul> -->
                  <div class="row">

      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
\      										<header>
      										</header>

      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank' class="image featured"><img src="images2/chris-lawton-236413.jpeg" alt="" /></a>
      										<header>
      											<h3>Books I've read this year</h3>
      										</header>
                          <ul>
                            <li><a href="https://www.amazon.com/Pachinko-National-Book-Award-Finalist/dp/1455563935/" target='_blank'>Pachinko</a></li>
                            <li><a href="https://www.amazon.com/Leviathan-Wakes-James-S-Corey/dp/0316129089/" target='_blank'>Leviathan Awakes - The Expanse Book 1</a></li>
                            <li><a href="https://www.amazon.com/Calibans-War-Expanse-James-Corey/dp/0316129062/" target='_blank'>Calaban's War - The Expanse Book 2</a></li>
                            <li><a href="https://www.amazon.com/Abaddons-Gate-Expanse-James-Corey/dp/0316129070" target='_blank'>Abaddon's Gate - The Expanse Book 3</a></li>
                            <li><a href="https://www.amazon.com/Name-Wind-Patrick-Rothfuss/dp/0756404746/" target='_blank'>The Name of the Wind</a></li>
                            <li><a href="https://www.amazon.com/How-Be-Married-Continents-Surviving/dp/0451495551/" target='_blank'>How to be Married</a></li>
                            <li><a href="https://www.amazon.com/Artemis-Novel-Random-House-Large/dp/0525532102/" target='_blank'>Artemis</a></li>
                            <li><a href="https://www.amazon.com/Alice-Network-Novel-Kate-Quinn/dp/0062654195" target='_blank'>The Alice Network</a></li>
                            <li><a href="https://www.amazon.com/Prelude-Foundation-Book-1/dp/0553278398/" target='_blank'>Prelude to Foundation - Foundation Book 1</a></li>
                            <!-- <li><a href="https://www.amazon.com/Elegance-Hedgehog-Muriel-Barbery/dp/1933372605/" target='_blank'>The Elegance of the Hedgehog</a></li> -->
                            <li><a href="https://www.amazon.com/Red-Mars-Trilogy-Stanley-Robinson/dp/0553560735" target='_blank'>Red Mars - Mars Trilogy Book 1</a></li>
                            <!-- <li><a href="https://www.amazon.com/Cibola-Burn-Expanse-James-Corey/dp/0316334685" target='_blank'>Cibola Burn - The Expanse Book 4</a></li> -->
                            <li><a href="https://www.amazon.com/When-Breath-Becomes-Paul-Kalanithi/dp/081298840X" target='_blank'>When Breath Becomes Air</a></li>
                            <li><a href="https://www.amazon.com/Once-Future-King-T-White/dp/0441627404" target='_blank'>The Once and Future King</a></li>

                            <li></li>
                          </ul>
      									</section>

      							</div>
                  <!--  TODO: Add Image Gallery of outside work things ... -->
      						</div>
      					</section>
      				</div>
            </article>

    </div>
  </div>
