<!-- Main -->
  <div id="main-wrapper">
    <div id="main" class="container">
      <div id="content">

        <!-- Post -->
          <article class="box post">
            <!-- Features -->
      				<div id="features-wrapper">
      					<section id="features" class="container">

      						<div class="row">
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank' class="image featured"><img src="images/pic01.jpg" alt="" /></a>
      										<header>
      											<h3>Who I Am</h3>
      										</header>
      										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank'class="image featured"><img src="images/pic01.jpg" alt="" /></a>
      										<header>
      											<h3>Where I'm From</h3>
      										</header>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank' class="image featured"><img src="images/pic01.jpg" alt="" /></a>
      										<header>
      											<h3>What I like to Do</h3>
      										</header>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
      									</section>

      							</div>
      						</div>
      						<!-- <ul class="actions">
      							<li><a href="#" class="button icon fa-file">Tell Me More</a></li>
      						</ul> -->
                  <div class="row">
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank' class="image featured"><img src="images/pic01.jpg" alt="" /></a>
      										<header>
      											<h3>What I'm Passionate About</h3>
      										</header>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank' class="image featured"><img src="images/pic01.jpg" alt="" /></a>
      										<header>
      											<h3>Things I work on</h3>
      										</header>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#/" target='_blank' class="image featured"><img src="images/pic01.jpg" alt="" /></a>
      										<header>
      											<h3>Books I've Loved</h3>
      										</header>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
      									</section>

      							</div>
                  <!--  TODO: Add Image Gallery of outside work things ... -->
      						</div>
      					</section>
      				</div>
            </article>

      </div>
    </div>
  </div>
