

<!-- Banner -->

<!-- Main -->
  <div id="main-wrapper">
    <div id="main" class="container">

        <!-- Post -->
          <article class="box post">
            <span class="image featured"><img src="images/banner.png" alt="" /></span>
            <p>I'm a reformed business leader who spends his working days lost in vscode thinking about 
				how to build better react components and optimizing graphql queries. 
				When I'm not working I like to explore the desert with my family or find new places to hike up north.</p>
            <!-- Features -->
      				<div id="features-wrapper">
      					<section id="features" class="container">

      						<div class="row">

      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank'class="image featured"><img src="images2/aaron-burden-154782.jpg" alt="" /></a>
      										<header>
      											<h3>Where I'm From</h3>
      										</header>
                          <p>Bethany and I are both from Charleston, WV and attended college in the Southeast. I built an
                          allegiance to <a href="http://georgiadogs.com/">college football</a> & she acquired a taste for <a href="http://goheels.com/">college basketball</a>.
                          We've collectively lived in 10 states and 11 different cities and are currently loving living in the desert southwest!</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank' class="image featured"><img src="images2/alexander-mils-instagram-com-alexandermils-321812.jpg" alt="" /></a>
      										<header>
      											<h3>What I like to Do</h3>
      										</header>
                          <p>I'm an amateur chef in-training. In 2017  my wife and I began experimenting with the <a href="https://whole30.com/whole30-program-rules/">Whole30</a> diet
                          and it's afforded me the opportunity to really test out my cooking abilities. I've definitely cracked a few eggs, har har,
                          but have found that I really love the process and experimentation. I've found that after a long day of data structures
                          and div tags that cooking dinner from scratch can be rather cathartic. We also enjoy our membership to the Cal Sciences Center and
                          I frequent a fair number of developer meetups like <a href="https://www.meetup.com/Phoenix-ReactJS/">Phoenix-ReactJS</a> and in 2019 became a co-founder of <a href="https://www.meetup.com/desert-graphql-meetup/">Desert-GraphQL</a>.</p>
      									</section>

      							</div>
                    <div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank' class="image featured"><img src="images2/markus-spiske-109588.jpg" alt="" /></a>
      										<header>
      											<h3>What I'm Passionate About</h3>
      										</header>
                          <p>A few things that are near and dear to my heart are in the realm of healthcare, education,
                          and civil service projects. A couple of the side projects that I'm working on are focused on
                          aiding the healthcare work force & streamling government processing. I'm also a big supporter of
                          e-learning tools and removing barriers to distance learning. So if you have questions or need help
                          I'm always open to chatting about projects or offering any guidance I can.</p>
      									</section>

      							</div>
      						</div>
      						<!-- <ul class="actions">
      							<li><a href="#" class="button icon fa-file">Tell Me More</a></li>
      						</ul> -->
                  <div class="row">

      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
\      										<header>
      										</header>

      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" target='_blank' class="image featured"><img src="images2/chris-lawton-236413.jpeg" alt="" /></a>
      										<header>
      											<h3>Books I've enjoyed over the last few years</h3>
      										</header>
                          <ul>
                            <li><a href="https://www.amazon.com/Pachinko-National-Book-Award-Finalist/dp/1455563935/" target='_blank'>Pachinko</a></li>
                            <li><a href="https://www.amazon.com/Leviathan-Wakes-James-S-Corey/dp/0316129089/" target='_blank'>Leviathan Awakes - The Expanse Book 1</a></li>
                            <li><a href="https://www.amazon.com/Calibans-War-Expanse-James-Corey/dp/0316129062/" target='_blank'>Calaban's War - The Expanse Book 2</a></li>
                            <li><a href="https://www.amazon.com/Abaddons-Gate-Expanse-James-Corey/dp/0316129070" target='_blank'>Abaddon's Gate - The Expanse Book 3</a></li>
                            <li><a href="https://www.amazon.com/Cibola-Burn-Expanse-James-Corey/dp/0316334685" target='_blank'>Cibola Burn - The Expanse Book 4</a></li>
							<li><a href="https://www.amazon.com/Nemesis-Games-Expanse-James-Corey/dp/0316334715/" target='_blank'>Nemesis Games - The Expanse Book 5</a></li>
							<li><a href="https://www.amazon.com/Babylons-Ashes-Expanse-James-Corey/dp/0316217646/" target='_blank'>Babylon's Ashes - The Expanse Book 6</a></li>
                            <li><a href="https://www.amazon.com/Name-Wind-Patrick-Rothfuss/dp/0756404746/" target='_blank'>The Name of the Wind</a></li>
						    <li><a href="https://www.amazon.com/Wise-Mans-Fear-Kingkiller-Chronicle/dp/0756407915" target='_blank'>The Wise Man's Fear</a></li>
                            <li><a href="https://www.amazon.com/How-Be-Married-Continents-Surviving/dp/0451495551/" target='_blank'>How to be Married</a></li>
                            <li><a href="https://www.amazon.com/Artemis-Novel-Random-House-Large/dp/0525532102/" target='_blank'>Artemis</a></li>
                            <li><a href="https://www.amazon.com/Alice-Network-Novel-Kate-Quinn/dp/0062654195" target='_blank'>The Alice Network</a></li>
                            <li><a href="https://www.amazon.com/Prelude-Foundation-Book-1/dp/0553278398/" target='_blank'>Prelude to Foundation - Foundation Book 1</a></li>
                            <li><a href="https://www.amazon.com/Elegance-Hedgehog-Muriel-Barbery/dp/1933372605/" target='_blank'>The Elegance of the Hedgehog</a></li>
                            <li><a href="https://www.amazon.com/When-Breath-Becomes-Paul-Kalanithi/dp/081298840X" target='_blank'>When Breath Becomes Air</a></li>
                            <li><a href="https://www.amazon.com/Once-Future-King-T-White/dp/0441627404" target='_blank'>The Once and Future King</a></li>
                            <li><a href="https://www.amazon.com/Programming-TypeScript-Making-JavaScript-Applications/dp/1492037656/" target='_blank'>Programming Typescript</a></li>
                            <li><a href="https://www.amazon.com/Expectant-Father-Ultimate-Dads-Be/dp/0789212137/" target='_blank'>The Expectant Father</a></li>
                            <li><a href="https://www.amazon.com/Apéritif-Cocktail-Hour-French-Way/dp/1524761753/" target='_blank'>Aperitif - Cocktail Hour the French Way</a></li>
                            <li><a href="https://www.amazon.com/Learning-GraphQL-Declarative-Fetching-Modern/dp/1492030716/" target='_blank'>Learning GraphQL</a></li>
                            <li><a href="https://www.amazon.com/Design-Everyday-Things-Revised-Expanded/dp/0465050654/" target='_blank'>The Design of Everyday Things</a></li>
                            <li><a href="https://www.amazon.com/Puppies-Dummies-Sarah-Hodgson/dp/1119558476/" target='_blank'>Puppies for Dummies 🐶</a></li>
                            <li><a href="https://www.amazon.com/Iron-Gold-Red-Rising-Novel/dp/0425285936/" target='_blank'>Iron Gold - Red Rising Book 4</a></li>
                            <li></li>
                          </ul>
      									</section>

      							</div>
                  <!--  TODO: Add Image Gallery of outside work things ... -->
      						</div>
      					</section>
      				</div>
            </article>

    </div>
  </div>
