<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Content -->
								<div id="content" class="8u 12u(mobile)">

									<!-- Post -->
                  {{# each posts}}
										<article class="box post mainpost">
                      <header>{{{this.postTitle}}}</header>
                          {{{this.postContent}}}
										</article>
                  {{/each}}
								</div>

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">

									<!-- Excerpts -->
										<section id='sideposts'>
											<ul class="divided">


											</ul>
										</section>

									<!-- Highlights -->
										<section>
											<ul class="divided">
												<li>

													<!-- Highlight -->
														<article class="box highlight dailyfact">
                              <header>
                                      <h3><a href="#">Today in Facts</a></h3>
                                    </header>
                                    <a href="#" class="image left"><img src="images/pic06.jpg" alt="" /></a>
                                    <p>{{facts.dailyFactContent}}</p>
                                    <ul class="actions">
                                      <li><a href="{{facts.dailyFactURL}}" class="button icon fa-file">Learn More</a></li>
                                    </ul>
														</article>

												</li>
												<li>

													<!-- Highlight -->
														<article class="box highlight dailyword">

														</article>

												</li>
											</ul>
										</section>

								</div>

						</div>
					</div>
				</div>
