<!-- Main -->
  <div id="main-wrapper">
    <div id="main" class="container">
      <div id="content">

        <!-- Post -->
          <article class="box post">
            <!-- Features -->
      					<section id="features" class="container">

      						<div class="row">
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="https://github.com/waterswv/witinerary" target='_blank' class="image featured"><img src="images/winepic.jpg" alt="" /></a>
      										<header>
      											<h3>Wine Tripping</h3>
      										</header>
      										<p>My Final project at General Assembly integrated the Google Maps & Directions
                          API to generate an intinerary builder for people visiting California wine country.</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="https://github.com/waterswv/blog-api" target='_blank'class="image featured"><img src="images/sitehome.jpg" alt="" /></a>
      										<header>
      											<h3>Personal Site Portfolio</h3>
      										</header>
      										<p>This is the site you are visiting currently. I built it in vanilla javascript & HTML/CSS.
                          I started with a base CSS framework and modified the designs to fit my needs. It includes a
                        fully restful backend of APIs storing all data with Node.js & MongoDB.</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="https://github.com/waterswv/wdi-39-project-1" target='_blank' class="image featured"><img src="images/poolpic.jpg" alt="" /></a>
      										<header>
      											<h3>Find a Pool App</h3>
      										</header>
      										<p>This was my first group collaboration project where I teamed with 1 partner to build a full
                          stack application to enable users to find a pool with open swim in their neighborhood for exercise.
                          It leverages a restful API, BootstrapCSS, Javascript, Node.js, & MongoDB.</p>
      									</section>

      							</div>
      						</div>
      						<!-- <ul class="actions">
      							<li><a href="#" class="button icon fa-file">Tell Me More</a></li>
      						</ul> -->
                  <div class="row">
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="https://github.com/waterswv/hyup" target='_blank' class="image featured"><img src="images/hyuppic.jpg" alt="" /></a>
      										<header>
      											<h3>Project Hyup</h3>
      										</header>
      										<p>Hyup is multi-page webapp built with Ruby on Rails that aims to connect new or existing residents of a
                            city with landlords that have rentals. The entire project was done in pair coding
                            with a team of 4. I was the project leader however, I was not involved in the
                          project name :)</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="https://github.com/waterswv/wayfarer-materializers" target='_blank' class="image featured"><img src="images/wayfarerpic.jpg" alt="" /></a>
      										<header>
      											<h3>Project Wayfarer</h3>
      										</header>
      										<p>Project wayfarer is a fullstack app built with React.js on the
                             frontend and a seperate node.js & mongoDB API on the backend. It was designed
                           to help visitors to a city write blog posts about their travels and to learn about
                           other travelers visits to cities they are exploring. </p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="https://waterswv.github.io/project-0/" target='_blank' class="image featured"><img src="images/racecarpic.jpg" alt="" /></a>
      										<header>
      											<h3>A Battle of Degrees</h3>
      										</header>
      										<p>This is the very first project I built. It is a simple racing game for the desktop.
                          Using two seperate keys 2 players race triangles across the screen. It was built using
                        only HTML/CSS & Javascript. </p>
      									</section>

      							</div>
      						</div>
      					</section>
            </article>

      </div>
    </div>
  </div>
