<!-- Main -->
  <div id="main-wrapper">
    <div id="main" class="container">
      <div id="content">

        <!-- Post -->
          <article class="box post">
            <!-- Features -->
      				<div id="features-wrapper">
      					<section id="features" class="container">

      						<div class="row">
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" class="image featured"><img src="images/bixby.jpg" alt="" /></a>
      										<header>
      											<h3>About Me & What I Do</h3>
      										</header>
      										<p>This section is a work in progress, but the short of it is I love to unplug
      											and go hunting for landscapes across California.</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" class="image featured"><img src="images/mysitepic.jpg" alt="" /></a>
      										<header>
      											<h3>Gallery of Projects</h3>
      										</header>
      										<p><a href="http://html5up.net">Here</a> are a few projects I've worked on. They are predominantly
      											built in <strong>vanilla javascript</strong>, <strong>CSS frameworks</strong>, and <strong>node.js</strong>.</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="/bryan_mierke.pdf" class="image featured"><img src="images/resumepic.jpg" alt="" /></a>
      										<header>
      											<h3>Resume</h3>
      										</header>
      										<p><strong>Mini blurb: </strong>I have managed enterprise APIs & built full-stack js/node/rails projects.
      											I also have a passion for SMB SaaS products and have been successful in partnership negotiation & building teams.</p>
      									</section>

      							</div>
      						</div>
      						<!-- <ul class="actions">
      							<li><a href="#" class="button icon fa-file">Tell Me More</a></li>
      						</ul> -->
                  <div class="row">
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" class="image featured"><img src="images/bixby.jpg" alt="" /></a>
      										<header>
      											<h3>About Me & What I Do</h3>
      										</header>
      										<p>This section is a work in progress, but the short of it is I love to unplug
      											and go hunting for landscapes across California.</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="#" class="image featured"><img src="images/mysitepic.jpg" alt="" /></a>
      										<header>
      											<h3>Gallery of Projects</h3>
      										</header>
      										<p><a href="http://html5up.net">Here</a> are a few projects I've worked on. They are predominantly
      											built in <strong>vanilla javascript</strong>, <strong>CSS frameworks</strong>, and <strong>node.js</strong>.</p>
      									</section>

      							</div>
      							<div class="4u 12u(mobile)">

      								<!-- Feature -->
      									<section>
      										<a href="/bryan_mierke.pdf" class="image featured"><img src="images/resumepic.jpg" alt="" /></a>
      										<header>
      											<h3>Resume</h3>
      										</header>
      										<p><strong>Mini blurb: </strong>I have managed enterprise APIs & built full-stack js/node/rails projects.
      											I also have a passion for SMB SaaS products and have been successful in partnership negotiation & building teams.</p>
      									</section>

      							</div>
      						</div>
      					</section>
      				</div>
            </article>

      </div>
    </div>
  </div>
